<a href="https://colab.research.google.com/github/greeshmanth-5/Greeshmanth_INFO5731_Fall2023/blob/main/Malpati_Greeshmanth_Reddy_Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [4]:
len= float(input("Enter the length of rectangle "))
width= float(input("Enter the width of rectangle "))
Area=len * width
print(f"Area of rectangle is {Area}")

Enter the length of rectangle 10
Enter the width of rectangle 5
Area of rectangle is 50.0

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [6]:
Var1=int(input("Enter the first variable "))
Var2=int(input("Enter the second variable "))
Var1= Var1+Var2
Var2= Var1-Var2
Var1= Var1-Var2
print(f"First variable value after swapping : {Var1}")
print(f"Second variable value after swapping : {Var2}")

Enter the first variable 10
Enter the second variable 20
First variable value after swapping : 20
Second variable value after swapping : 10

(3) Write a Python program to calculate the length of a string.

In [1]:
input_string = input("Enter a string: ")

# Calculate the length of the string
string_length = len(input_string)

# Display the length of the string
print(f"The length of the string is: {string_length}")

Enter a string: unt
The length of the string is: 3

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [10]:
str = input("Enter a string ")
char_count = {}
for char in str:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1
print("Character counts:")
print(char_count)

Enter a string google.com
Character counts:
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(5) Write a Python program to sum all the items in a list.

In [11]:
list1 = input("Enter a list of numbers ").split()
nums = [float(item) for item in list1]

total = sum(nums)

print(f"The sum of numbers in the list is {total}")

Enter a list of numbers 10 15 25 100
The sum of numbers in the list is 150.0

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [14]:
input_str = input("Enter a string ")

first_char = input_str[0]

new_str = first_char + input_str[1:].replace(first_char, '$')

print(f"The modified string is {new_str}")

Enter a string: restart
The modified string is resta$t

(7) Create a program that calculates the factorial of a number using a while loop.

In [16]:
num = int(input("Enter a number "))

factorial = 1
fact = num

while fact > 1:
    factorial *= fact
    fact -= 1

print(f"The factorial of {num} is {factorial}")

Enter a number 10
The factorial of 10 is 3628800

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [17]:
list1 = input("Enter a list of numbers ").split()

nums = [int(item) for item in list1]

even_nums = [num for num in nums if num % 2 == 0]

print("Even numbers")
print(even_nums)

Enter a list of numbers 1 2 3 4 5 6
Even numbers
[2, 4, 6]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [18]:
a = float(input("Enter the value of a "))
b = float(input("Enter the value of b "))

S = 3.14 * (1 + a / b)**3

print(f"The value of S is {S}")

Enter the value of a 3
Enter the value of b 7
The value of S is 9.15451895043732

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [20]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

combined = {**dic1, **dic2, **dic3}

print("Combined dictionary")
print(combined)

Combined dictionary
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [23]:
def find_largest_smallest(nums):
    if not nums:
        return None, None

    smallest = largest = nums[0]

    for num in nums:
        if num < smallest:
            smallest = num
        if num > largest:
            largest = num

    return smallest, largest

input_tuple = tuple(map(int, input("Enter a tuple of integers separated by spaces: ").split()))

smallest, largest = find_largest_smallest(input_tuple)

if smallest is None or largest is None:
    print("The tuple is empty.")
else:
    print(f"The smallest element is {smallest}")
    print(f"The largest element is {largest}")

Enter a tuple of integers separated by spaces: 1 10 5 6 11
The smallest element is 1
The largest element is 11

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [24]:
def count_char_frequency(input_str):
    char_frequency = {}

    for char in input_str:
        if char in char_frequency:
            char_frequency[char] += 1
        else:
            char_frequency[char] = 1

    return char_frequency

input_str = input("Enter a string ")
frequency_dict = count_char_frequency(input_str)
print("Character frequency")
print(frequency_dict)

Enter a string google.com
Character frequency
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(13) Write a Python program to check whether an element exists within a tuple.

In [26]:
def element_exists(element, input_tuple):
    return element in input_tuple

input_tuple = tuple(input("Enter a tuple of elements").split())

element_to_check = input("Enter the element to check")

if element_exists(element_to_check, input_tuple):
    print(f"'{element_to_check}' exists in the tuple.")
else:
    print(f"'{element_to_check}' does not exist in the tuple.")

Enter a tuple of elements1 4 7 9 10
Enter the element to check3
'3' does not exist in the tuple.

(14) Write a Python program to find maximum and the minimum value in a set.

In [27]:
set1 = set(map(float, input("Enter a set of numbers ").split()))

if not set1:
    print("The set is empty.")
else:
    max_value = max(set1)
    min_value = min(set1)

    # Display the maximum and minimum values
    print(f"The maximum value is {max_value}")
    print(f"The minimum value is {min_value}")

Enter a set of numbers 1 4 3 2 9
The maximum value in the set is: 9.0
The minimum value in the set is: 1.0

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [3]:
import random

student_list_fall_2023 = ['sb1826', 'lb0582', 'ab1820', 'sb1883', 'mb1296', 'sc1622', 'tc0469', 'ac1770', 'mc1453',
                          'ad1187', 'sd0926', 'sd1268', 'ag1609', 'sg1638', 'mg1299', 'vkk0022', 'bk0413', 'gk0257',
                          'am2807', 'gm0558', 'pm0658', 'am2346', 'rm1090', 'sm2364', 'sm2747', 'sm2343', 'vm0597',
                          'htn0086', 'sp2075', 'gp0306', 'lp0502', 'sr1508', 'vr0331', 'yr0180', 'as2819', 'ss2981',
                          'ns0756', 'mt0825', 'dt0463', 'su0137', 'dv0310']

random.shuffle(student_list_fall_2023)

min_size_of_group = 4
max_size_of_group = 6
num_groups = int(len(student_list_fall_2023) // min_size_of_group)

groups = [student_list_fall_2023[i:i + max_size_of_group] for i in range(0, len(student_list_fall_2023), max_size_of_group)]

for i, group in enumerate(groups):
    print(f"Group {i + 1}: {', '.join(group)}")

Group 1: vkk0022, tc0469, mc1453, sd0926, mb1296, sb1826
Group 2: vr0331, am2807, ac1770, bk0413, sm2747, vm0597
Group 3: sm2343, sg1638, ss2981, gp0306, sr1508, ab1820
Group 4: sb1883, ad1187, sm2364, sp2075, sd1268, sc1622
Group 5: yr0180, htn0086, dv0310, pm0658, gm0558, ns0756
Group 6: am2346, rm1090, gk0257, as2819, su0137, mt0825
Group 7: mg1299, lb0582, lp0502, dt0463, ag1609

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [29]:
def find_duplicate_elements(arr):
    dupe = set()
    duplicates = set()

    for num in arr:
        if num in dupe:
            duplicates.add(num)
        else:
            dupe.add(num)

    return duplicates if duplicates else -1

input_array = list(map(int, input("Enter an array of integers separated by spaces: ").split()))

result = find_duplicate_elements(input_array)
if result == -1:
    print("There are no duplicate elements.")
else:
    print("Duplicate elements:", result)

Enter an array of integers separated by spaces: 5 6 7 5 4
Duplicate elements: {5}

(17) Write a Python program to select all the Sundays of a specified year.

In [30]:
import datetime

def select_sundays(year):
    sundays = []
    date = datetime.date(year, 1, 1)
    delta = datetime.timedelta(days=1)

    while date.year == year:
        if date.weekday() == 6:
            sundays.append(date.strftime('%Y-%m-%d'))
        date += delta

    return sundays

year = int(input("Enter the year: "))

sundays = select_sundays(year)

print(f"Sundays in {year}:")
for sunday in sundays:
    print(sunday)

Enter the year: 2001
Sundays in 2001:
2001-01-07
2001-01-14
2001-01-21
2001-01-28
2001-02-04
2001-02-11
2001-02-18
2001-02-25
2001-03-04
2001-03-11
2001-03-18
2001-03-25
2001-04-01
2001-04-08
2001-04-15
2001-04-22
2001-04-29
2001-05-06
2001-05-13
2001-05-20
2001-05-27
2001-06-03
2001-06-10
2001-06-17
2001-06-24
2001-07-01
2001-07-08
2001-07-15
2001-07-22
2001-07-29
2001-08-05
2001-08-12
2001-08-19
2001-08-26
2001-09-02
2001-09-09
2001-09-16
2001-09-23
2001-09-30
2001-10-07
2001-10-14
2001-10-21
2001-10-28
2001-11-04
2001-11-11
2001-11-18
2001-11-25
2001-12-02
2001-12-09
2001-12-16
2001-12-23
2001-12-30

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [31]:
def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * fact(n - 1)

num = int(input("Enter a positive integer "))

if num < 0:
    print("Wrong input")
else:
    result = fact(num)
    print(f"The factorial of {num} is {result}")

Enter a positive integer 5
The factorial of 5 is 120

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [32]:
def count_even_numbers(n):
    count = 0
    for num in range(1, n + 1):
        if num % 2 == 0:
            count += 1
        elif num > n:
            break
    return count

num = int(input("Enter a number"))

if num < 1:
    print("Please enter a positive integer.")
else:
    result = count_even_numbers(num)
    print(f"The count of even numbers from 1 to {num} is {result}")

Enter a number67
The count of even numbers from 1 to 67 is 33

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [33]:
def count_vowels(input_str):
    vowels = 'aeiouAEIOU'
    count = 0

    for char in input_str:
        if char in vowels:
            count += 1

    return count

input_string = input("Enter a string ")

vowels_count = count_vowels(input_string)

print(f"The count of vowels in the string is: {vowels_count}")

Enter a string computational
The count of vowels in the string is: 6